# PostgreSQL database connection vars as documented by libpq: https://www.postgresql.org/docs/current/libpq-envars.html
# Uses sqlx's implementation, see those docs for details: https://docs.rs/sqlx/latest/sqlx/postgres/struct.PgConnectOptions.html#parameters
PGUSER=ws-user
#PGPASSWORD=password
PGHOST=localhost
PGDATABASE=wikistream

# Interpolate vars into DATABASE_URL for use by sqlx::test
DATABASE_URL=postgres://$PGUSER:$PGPASSWORD@$PGHOST/$PGDATABASE
