<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Wikistream</title>
    <link rel="icon" href="/assets/favicon.svg" />
</head>
<body>

<section>
    <table>
        <tr>
            <th>Rank</th>
            <th>Page</th>
            <th>Edits</th>
            <th>Editors</th>
            <th>Heat</th>
        </tr>
        {% for page in pages %}
        <tr>
            <td>{{ loop.index }}.</td>
            <td><a href="{{ page.url }}">{{ page.title }}</a></td>
            <td>{{ page.edits }}</td>
            <td>{{ page.editors }}</td>
            <td>{% for i in range(page.heat) %}🔥{% endfor %}</td>
        </tr>
        {% endfor %}
    </table>
</section>
<section>
    {% if previous_day is not none %}
    <a href="/?date={{ previous_day }}">&laquo; Previous Day</a>
    {% endif %}
    <span>{{ date }}</span>
    {% if next_day is not none %}
    <a href="/?date={{ next_day }}">Next Day &raquo;</a>
    {% endif %}
</section>
<section>
    <form action="/" method="get">
        <label for="date">Date</label>
        <input id="date" type="date" name="date" value="{{ date }}"/>
        <input type="submit" value="Check"/>
    </form>
</section>

<footer>
    <p>Favicon from <a href="https://streamlinehq.com/">Streamline</a></p>
</footer>

</body>
</html>
